# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MEMOJET.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\HP\Documents\CodeLearnersHub\MEMOJET\.idea\.idea.MEMOJET\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
